<div class="admin"
     x-show="$store.app.showAdmin">
    <h2>admin</h2>
    <div class="d-flex">
        <ul>
            <li>{{stats.total}} files in Database</li>
            <li>{{stats.audio}} Audio Files</li>
            <li>{{stats.unverified}} Unverified Files</li>
            <li>Verification Task is&nbsp;{{#if verify.isRunning}}{{else}}<em>not</em>&nbsp;{{/if}}running.</li>
        </ul>
        <ul>
            <li><button hx-get="{{config.mountpoint}}{{#if verify.isRunning}}/p/admin/cancelverify{{else}}/p/admin/startverify{{/if}}"
                        hx-target=".admin"
                        hx-swap="outerHTML"
                        hx-include="#forceVerify">
                    {{#if verify.isRunning}}cancel
                    {{else}}start
                    {{/if}}
                    Verification
                </button>
                {{!--#############--}}
                {{#if verify.isRunning}}
                {{else}}
                    <label>
                        <select id="forceVerify"
                                name="force">
                            <option value="basic">Basic</option>
                            <option value="stats">Stats (1 hour)</option>
                            <option value="all">All (1 day)</option>
                        </select>
                    </label>
                {{/if}}

                {{!--#############--}}
            </li>
            <li><button hx-get="{{config.mountpoint}}/p/admin"
                        hx-target=".admin"
                        hx-swap="outerHTML">
                    refresh
                </button></li>
            <li><button hx-get="{{config.mountpoint}}/notexistend"
                        hx-target=".admin"
                        hx-swap="outerHTML">
                    Error Button
                </button></li>
        </ul>
        <ul>
            <li>isRunning: {{verify.isRunning}}</li>
            <li>cancelled: {{verify.cancelled}}</li>
            <li>completed: {{verify.completed}}</li>
            <li>doneCount: {{verify.doneCount}}</li>
            <li>message: {{verify.message}}</li>
            <li>runTime: {{verify.runTime}}</li>
        </ul>
    </div>
</div>