{{!--config,
search
searchResults--}}

<div class="search mt-3">
    <div class="form-check form-switch fs-4 text-center">
        <label class="form-check-label">id3 search
            <input id="sua2Oo"
                   class="form-check-input"
                   x-model="useId3"
                   type="checkbox"
                   role="switch"></input>
        </label>
    </div>

    <div class="mb-2"
         x-show="!useId3">
        <form class="align-items-center d-flex flex-column gap-2"
              hx-post="{{config.mountpoint}}/search/results"
              hx-target=".search-results"
              hx-swap="outerHTML">
            <input id="iez4So"
                   class="border border-3 fs-1 rounded-3 text-center border-warning-subtle"
                   type="text"
                   name="path"
                   placeholder="Path contains"
                   value="{{search.path}}">
            <button class="btn btn-secondary"
                    title="submit"
                    type="submit">Search</button>
        </form>
    </div>
    <div class="mb-2"
         x-show="useId3">
        <form class="align-items-center d-flex flex-column gap-2"
              hx-post="{{config.mountpoint}}/search/results"
              hx-target=".search-results"
              hx-swap="outerHTML">
            <input id="Cachu6"
                   class="border border-3 fs-1 rounded-3 text-center border-warning-subtle"
                   type="text"
                   name="artist"
                   placeholder="Artist contains"
                   value="{{search.artist}}">
            <input id="ruoR0s"
                   class="border border-3 fs-1 rounded-3 text-center border-warning-subtle"
                   type="text"
                   name="album"
                   placeholder="Album contains"
                   value="{{search.album}}">
            <button class="btn btn-secondary"
                    title="submit"
                    type="submit">Search</button>
        </form>
    </div>
    {{> search/results }}
</div>