<div class="search-results">
    {{#if searchResults}}
    <h3>{{searchResults.length}} results</h3>
    {{#if maximumReached}}
    <p>Note: Only the first {{config.search_max_results}} results are shown. Narrow your search</p>
    {{/if}}
    <ul class="results">
        {{#each searchResults as |track|}}
        <li title="{{track.path}}">
            <audio src="{{../config.mountpoint}}/play/{{track.id}}"
                   controls
                   preload="none">
                &#9654;
            </audio>
            {{#if track.hasId3}}
            <p>{{track.artist}} / {{track.album}} / {{track.title}}</p>
            {{else}}
            <p>{{track.path}}</p>
            {{/if}}
        </li>
        {{/each}}
    </ul>
    <script>
        initAudios();
    </script>
    {{else}}
    <p>No results found.</p>
    {{/if}}
</div>
